body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(179, 197, 179);
}

button {
    font-family: inherit;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.header {
    padding: 20px;
    font-size: xx-large;
    text-align: -webkit-center;
    background-color: inherit;
    margin-inline: 10%;
}

.menu {
    padding-inline: 5%;
    font-family: monospace;
    text-align: -webkit-center;
    width: auto;
}

.menu-option {
    border: thin;
    background-color: darkseagreen;
}

.fila-insecto {
    display: table-row;
    background: yellowgreen;
    width: auto;
    clear: both;
}

.celda {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-style: solid;
    border-color: #2f502f;
}

.celda-1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-style: solid;
    border-color: #2f502f;
    width: 240px;
    padding-bottom: 5%;
    padding-top: 5%;
}

.portada {
    display: table;
    padding: 5%;
    width: auto;
}

.welcome {
    padding: 20px;
    font-size: x-large;
    text-align: -webkit-center;
    background-color: inherit;
    margin-inline: 10%;
}

.leyenda {
    display: inline-grid;
    font-weight: 600;
}

.leyenda-1 {
    display: inline-grid;
    font-weight: 650;
    font-size: x-large;
}

.entrada {
    padding: 3px;
}

#main {
    width: 90%;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: inset #465551a8 -1px -1px 20px 5px;
    color: white;
    text-align: left;
}

.formulario {
    background-color:  darkseagreen;
}

.boton {
    border-radius: 10px;
}